{% extends 'inner-page.html' %}
{% load static %}
{% block title %}Control CNC{% endblock title %}
{% block innercontent %}
<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <p>Aquí puedes controlar la máquina CNC decoradora de galletas</p>
            <div class="d-flex align-items-stretch">
                <iframe style="border:0; width: 100%; height: 1200px;" src="http://cnc.local" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </body>
</html>
{% endblock innercontent %}