
<!DOCTYPE html>
<html>
    <body>
        <p>
            <ul>
                <li>CERO MAQUINA: es un punto de referencia fijado por el fabricante de la maquina y que no puede ser modificado por el usuario. A partir de este se miden todas las dimensiones de la maquina y a su vez es el origen de coordenadas</li>
                <li>CERO PIEZA: Es cualquier punto de la pieza en cuestion y en ese punto hacen referencia todas las dimensiones y movimientos de la pieza a obtener. Lo primero que se debe hacer al iniciar un proceso de programacion y mecanizacion, es determinar el punto cero pieza que se denomina cn la letra W.</li>
                <li>DECALAJE: Es la distancia que existe entre el cero maquina y el cero pieza. Se realiza dentro del programa a los puntos establecidos en la tabla de decalajes mediante las funciones G54 a G57.</li>
            </ul>
            </p>
    </body>
</html>